:root{
  --color-bg: #F4F5F7;
  --color-bg-footer: #E9EBEF;
  --color-block: #FFFFFF;

  --color-title: #000000;
  --color-title-alt: #F4F5F7;
  --color-text: #000000;
  --color-text-alt: #F4F5F7;

  /* Геометрия */
  --radius-mainpage: 35px;
  --radius-blocks: 15px;

  --content-max-width: 1200px;
  --indent: 25px;
}


body{
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
;
  background: var(--color-bg);;
}
.container{
  padding: 0 var(--indent);
  max-width: var(--content-max-width);
  margin-left: 120px;
  margin-right: 120px;
}

.intro{
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.57) 7.81%, rgba(0, 0, 0, 0) 39.76%, rgba(0, 0, 0, 0.57) 66.15%), url(../img/AT1U3268.jpeg);
  background-size: cover;
}

.intro__container{
  display: flex;
  flex-direction: column;
  text-align: left;
}


.intro__logo{
  width: 198.62px;
  height: 114px;
  padding-top: 20px;
}

.intro__title{
  width: 1098px;
  height: 174px;
  padding-top: 375px;

  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;

  color: var(--color-title-alt);
}

.intro__nav{
  display: flex;
  width: 900px;
  height: 41px;
  padding-top: 40px;
}

.intro__list{
  display: flex;

}

.intro__item{
  margin-right: 40px;
}
.intro__link{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */

  text-decoration-line: none;
  border-bottom: 1px solid rgba(244, 245, 247, 0.5);
  margin-bottom: -1px;

  color: var(--color-text-alt);

}

.intro__link:hover {

  text-decoration-line: none;
  border-bottom: 1px solid rgba(244, 245, 247, 0.8);
  margin-bottom: -1px;
}

.basic__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.basic__goal{
  margin-top: 30px;
  max-width: 996px;
}

.basic__block{

  background: var(--color-block);
  border-radius: var(--radius-mainpage);

  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}

.basic__goal-title{
  padding-top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-text);
}

.basic__goal-text{
  padding: 20px 69px 55px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: var(--color-text);
}

.basic__link-items{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
  padding-top: 60px;
}

.basic__buttons-container{
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.basic__heatmap{
  border-radius: var(--radius-mainpage);
  background: #bc4000;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}


.basic__heatmap:hover{
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));
}

.basic__heatmap-button{
  display: flex;
  text-align: left;
  width: 488px;
  max-height: 161.75px;
  flex-direction: row;
}

.basic__heatmap-text{
  align-self: center;
  padding-left: 27.22px;
}

.basic__button-text{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;

  color: #F4F5F7;
}

.basic__heatmap-img{
  align-self: center;
  width: 207.12px;
  height: 215px;
}



.basic__transportmap{
  display: flex;
  background: #007CBC;
  border-radius: var(--radius-mainpage);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.basic__transportmap:hover{
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));
}

.basic__transportmap-button{
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 488px;
  height: 161.75px;
}

.basic__transportmap-text{
  width: 272px;
  height: 79px;
  padding-left: 27.22px;
  align-self: center;
}

.basic__transportmap-img{
  width: 144.18px;
  height: 140.65px;
  align-self: center;

}

.basic__links-block-container{
  display: flex;
}

.basic__links-block{
  background: var(--color-block);
  border-radius: var(--radius-mainpage);

  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  height: 354px;

}

.basic__links-title{
  padding-top: 22px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;

  color: var(--color-title);
}

.basic__list-block{
  margin: 15px 39px;
  padding-bottom: 42px;
}

.basic__links-list{
  width: 410px;
  height: 221px;
  text-align: left;
  overflow-y: scroll;
}

.basic__links-list::-webkit-scrollbar {
  width: 7px;
  background-color: #E5E5E5;
  border-radius: 30px;
}

.basic__links-list::-webkit-scrollbar-thumb {
  background-color: rgba(87, 96, 101, 1);
  border-radius: 30px;
}


.basic__list-item{
  margin-bottom: 10px;
}

.basic__link{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;

  text-decoration-line: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: -1px;

  color: var(--color-text);
}

.basic__link:hover{
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.footer{
  background: var(--color-bg-footer);
}

.footer__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin-top: 40px;
}

.footer__logo{
  width: 197.62px;
  height: 114px;
}

.footer__names{
  width: 197px;
  height: 81px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;

  color: #576065;
}

.map-container {
  position: fixed;
  flex-direction: column;
  display: flex;
  padding-left: 60px;
  gap: 15px;
}

#data-container{
  display: flex;
  flex-direction: row;

}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 60px;
  height: 80px;
  gap: 40px;
  text-align: left;
  background: #BC4000;
}

.header__logo{
  width: 117px;
  height: 35px;

}

.header__nav{
  height: 28px;
}

.header__list{
  display: flex;
  width: 900px;
  gap: 40px;
  align-items: center;

}

.header__item{
  height: 28px;
  text-align: left;
}
.header__link{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  text-decoration-line: none;
  border-bottom: 1px solid rgba(244, 245, 247, 0.5);
  margin-bottom: -1px;

  color: var(--color-text-alt);

}

.header__link:hover {

  text-decoration-line: none;
  border-bottom: 1px solid rgba(244, 245, 247, 0.8);
  margin-bottom: -1px;
}

#heatmap{
  position: fixed;
  width: 100%;
  height: 100%;
}

#transportmap{
  position: fixed;
  width: 100%;
  height: 100%;
}
.summary{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 337px;

  margin-top: 30px;
  margin-bottom: 30px;
  background: var(--color-block);
  border-radius: var(--radius-blocks);
}

.summary__text-container{
  padding-left: 30px;
}

.summary__title{
  width: 273px;
  height: 66px;
  margin-top: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: var(--color-title);
}

.summary__text{
  width: 273px;
  height: 50px;
  margin-top: 25px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: var(--color-text);
}

#summary__sum-count{
  width: 21px;
  height: 22px;
  margin-top: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #7A7A7A;
}

#summary_districts{

  max-height: 363px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

#summary_districts::-webkit-scrollbar {
  width: 7px;

  background-color: #E5E5E5;
  border-radius: 30px;
}

#summary_districts::-webkit-scrollbar-thumb {
  background-color: rgba(87, 96, 101, 1);
  border-radius: 30px;
}

.summary_district-link{
  display: block;
  padding-left: 30px;
  height: 167px;
}

.summary_district-link:hover,
.summary_district-link.hover{
  background: #f5f5f5;
}



.summary__district-name{
  display: block;
  padding-top: 16px;
  width: 273px;
  height: 48px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: var(--color-text);
}

.summary__text-in-district{
  display: block;
  width: 273px;
  height: 50px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #7A7A7A;
}

.summary__count-in-district{
  display: block;
  width: 32px;
  height: 38.32px;
  margin-top: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: var(--color-text);

}


.districts-choice{
  margin-top: 15px;
  width: 337px;
  height: 188px;

  background: var(--color-block);
  border-radius: var(--radius-blocks);
}

.districts-choice__title{
  display: block;
  width: 284.58px;
  height: 66px;
  margin-left: 24.96px;
  padding-top: 21px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: var(--color-title);
}

#districts-choice__button{
  display: block;
  width: 287.91px;
  height: 50px;
  margin-top: 20px;
  margin-left: 25px;

  background: #EBEBEB;
  border-radius: var(--radius-blocks);
}

#districts-choice__button:hover{
  background: #f5f5f5;
}

#districts-choice__button-text{
  display: flex;
  justify-content: center;
  padding-top: 12px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;

  /* identical to box height */

  text-align: center;

  color: var(--color-text);
}

#transport-info{
  display: flex;
  flex-direction: column;

  width: 337px;
  align-self: center;
  margin-bottom: 30px;

  background: var(--color-block);
  border-radius: var(--radius-blocks);
}

#transport-info__text-container{
  padding-left: 30px;
}

#transport-info__title-district{
  width: 287.91px;

  margin-top: 15.46px;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: var(--color-title);
}

#transport-info__checkbox-area{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#transport-info__checkbox-text{
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;

  color: #858585;
}

#checkmark {
  display: inline-flex;
  z-index: -1;
  opacity: 0;
}
#checkmark+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
#checkmark+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
#checkmark:checked+label::before {
  border-color: #bc4000;
  background-color: #bc4000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
#checkmark:not(:disabled):not(:checked)+label:hover::before {
  cursor: pointer;
  border-color: #ff925a;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
#checkmark:not(:disabled):active+label::before {
  background-color: #ff925a;
  border-color: #ff925a;
}
/* стили для чекбокса, находящегося в фокусе */
#checkmark:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 120, 51, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
#checkmark:focus:not(:checked)+label::before {
  border-color: #bc4000;
}
/* стили для чекбокса, находящегося в состоянии disabled */
#checkmark:disabled+label::before {
  background-color: #e9ecef;
}

.transport-info__text-count{

  width: 292.9px;
  height: 46.39px;
  margin-top: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: var(--color-text);
}

#transport-info__counter{
  width: 9.15px;
  height: 21.48px;
  margin-top: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  color: #7A7A7A;
}

.transport-info__text-list{
  width: 292.9px;
  height: 46.39px;
  margin-top: 15px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: var(--color-text);
}

#transport-info__list{
  max-height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

#transport-info__list::-webkit-scrollbar {
  width: 7px;

  background-color: #E5E5E5;
  border-radius: 30px;
}

#transport-info__list::-webkit-scrollbar-thumb {
  background-color: rgba(87, 96, 101, 1);
  border-radius: 30px;
}

.transport-info__route-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  gap: 20px;
  height: 72px;
}

.transport-info__route-link:hover{
  background: #f5f5f5;
}

.transport-info__routes-text{

  height: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */


  color: var(--color-text);
}

.transport-info__type-transport{
  width: 62px;
  height: 22px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  color: #858585;

}

.transport-info__percent{
  width: 41px;
  height: 27px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: var(--color-text);
}

#districts-window{
  position: fixed;
  margin-top: 30px;
  margin-left: 420px;
  width: 337px;
  height: 620.344px;

  background: var(--color-block);
  border-radius: var(--radius-blocks);
}

#districts-window__container-top{
  display: flex;
  flex-direction: row;
}

#districts-window__title{
  display: block;
  width: 284.58px;
  margin-left: 24.96px;
  padding-top: 21px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: var(--color-title);
}

#districts-window__cross-but{
  width: 24px;
  height: 24px;
  padding-top: 21px;
  padding-right: 15px;
}

#districts-window__list{
  max-height: 520px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

#districts-window__list::-webkit-scrollbar {
  width: 7px;

  background-color: #E5E5E5;
  border-radius: 30px;
}

#districts-window__list::-webkit-scrollbar-thumb {
  background-color: rgba(87, 96, 101, 1);
  border-radius: 30px;
}

#districts-window__district-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  gap: 20px;
  height: 72px;
}

#districts-window__district-link:hover{
  background: #f5f5f5;
}

#districts-window__districts-text{

  height: 27px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: var(--color-text);
  /* identical to box height */


  color: var(--color-text);
}
